body{
    background:linear-gradient(hsla(195, 89%, 48%, 0.863) 0%, #ff00ccd5 40%, #00ccff 100%);
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;

    
}
.profileImage{
    width:200px;
}
.profile h2{
    color: white;
}
.profile h4{
    color: rgb(0, 0, 0);
}
.biodata{
    background:linear-gradient(#ffffff 0%, #ffffffd5 40%, #ffffff00 100%);
    padding-bottom: 250px;
    padding-top: 200px;
}


.row{
    padding: 0px 15px;
}
.achievement{
    padding-top: 55px;
}
.textStart{
    transform: translateY(100);
}
.footer{
    background:linear-gradient(hsla(195, 89%, 48%, 0.863) 100%, #ff00ccd5 40%, #00ccff 0%);
    padding-bottom: 20px;
}

.contact a{
    color: black;
    font-size: 30px;
}
.watermark{
    padding-top: 50px;
}

@keyframes enterText {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modal-body span {
    display: inline-block;
    opacity: 0;
    animation: enterText 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  
  .modal-body span:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .modal-body span:nth-child(3) {
    animation-delay: 0.6s;
  }

  
  