@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #785ab1;
  --secondary-color: #b1679d;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --gradient-1: linear-gradient(to bottom right, #0163a5, #d887d7);
  --gradient-2: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  --gradient-3: linear-gradient(to bottom right, #b1679d, #0163a5);
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container{
    max-width: var(--max-widht);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.section_description{
    max-width: 600px;
    margin-inline: auto;
    color: var(--extra-light);
    text-align: center;
    line-height: 1.75rem;
}

.btn{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-image: var(--gradient-2);
    outline: none;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

.logo {
    display: inline-block;
    padding: 10px 14px;
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--white);
    background-image: var(--gradient-2);
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    background-image: var(--gradient-1);
}

/* NavBar */
.posisi {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding:0;
    z-index: 100;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}

.posisi {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.0px);
    -webkit-backdrop-filter: blur(3.0px);
}

nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-widht);
    margin: auto;
    z-index: 9;
}

.nav_bar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-image: var(--gardient-1);
}

.nav_logo{
    padding: 9px 12px;
    font-size: 1.2rem;
}

.nav_bar a{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-image: var(--gradient-2);
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: -1;
}

.nav_links.open{
    transform: translateY(0);
}

.nav_links a{
    color: var(--white);
    transition: 0.3s;
}

.nav_links a:hover{
    color: var(--white);
}

/* Header */
.header_container{
    padding-top: 8rem;
    display: grid;
    gap: 2rem;
    isolation: isolate;
}

.header_content{
    text-align: center;
}

.header_content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
}

.header_content .section_description{
    margin-bottom: 2rem;
}

.header_image{
    position: relative;
    isolation: isolate;
    z-index: -1;
}

.header_image img{
    max-width: 450px;
    margin-inline: auto;
    border-radius: 25rem;
}

.header_image::after{
    position: absolute;
    content: "Wahsurr";
    letter-spacing: 1.5rem;
    opacity: 0.5;
    right: 1rem;
    top: 50%;
    transform: translate(50%, -50%) rotate(90deg);
}

/* About Me */
.about_container{
    display: grid;
    gap: 2rem;
}

.about_image{
    position: relative;
    isolation: isolate;
    max-width: 400px;
    margin: auto;
}

.about_img{
    border-radius: 100%;
}

.about_bg-1,
.about_bg-2{
    position: absolute;
    max-width: 150px;
    z-index: -1;
}

.about_bg-1{
    top: 0;
    bottom: 0;
}

.about_bg-2{
    right: 0;
    bottom: 0;
}

.about_content{
    text-align: center;
}

.about_content .section_description{
    margin-bottom: 2rem;
}

/* My Skill */
.skill_grid{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.skill_card{
    padding: 2rem 1rem;
    text-align: center;
    background-image: var(--gradient-3);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skill_card span{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.skill_card img{
    padding: 15px 10px;
    float: left;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.skill_card:hover img{
    transform: scale(1.1);
}

.skill_card h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.skill_card p{
    color: var(--extra-light);
    line-height: 2rem;
}

/* My Education */
.education_grid{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.education_card{
    padding: 2rem 1rem;
    text-align: center;
    background-image: var(--gradient-2);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.education_card span{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.education_card:hover img{
    transform: scale(1.1);
}

.education_card h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.education_card p{
    color: var(--extra-light);
    line-height: 2rem;
}

/* My Portofolio */
.portofolio_grid{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.portofolio_card{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.portofolio_card img{
    transition: 0.5s;
}

.portofolio_card:hover img{
    transform: scale(1.1);
}

.portofolio_banner{
    margin-top: 2rem;
    padding : 2rem;
    gap: 2rem;
    text-align: center;
    background-image: var(--gradient-2);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.portofolio_banner_card h4{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

/* Contact */
.contact_container{
    text-align: center;
}

.contact_container .logo{
    margin-bottom: 1rem;
}

.contact_socials{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.contact_socials a{
    padding: 7px 10px;
    font-size: 1.5rem;
    color: var(--white);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.contact_socials a:hover{
    background: var(--gardient-2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--extra-light);
    text-align: center;
}

@media (width > 576px){
    .skill_grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .education_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .portofolio_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .portofolio_banner{
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
}

@media (width > 768px){
    nav{
        padding: 2rem 1rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav_bar{
        padding: 0;
        background-image: none;
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        padding: 0;
        width: unset;
        position: static;
        transform: none;
        flex-direction: row;
        background-image: none;
    }

    .nav_links a:hover{
        color: var(--secondary-color);
    }
    .nav_links a.active{
        color: var(--secondary-color);
    }

    .nav_linksli:last-child{
        display: none;
    }

    .header_container{
        padding-top: 5rem;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .header_image{
        grid-area: 1/3/2/5;
    }

    .header_image img{
        margin-inline-start: unset;
    }

    .header_content{
        grid-area: 1/1/2/4;
        text-align: left;
    }

    .header_content h1{
        font-size: 6rem;
        line-height: 6rem;
        text-align: left;
    }

    .header_content .section_description{
        text-align: left;
        margin-inline-start: unset;
    }

    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about_content,
    .about_content :is(.section_header, .section_description){
        text-align: left;
    }

    .skill_grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .education_grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .portofolio_container :is(.section_header, .section_description){
        text-align: left;
        margin-inline-start: unset;
    }

    .portofolio_grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .portofolio_banner{
        grid-template-columns: repeat(3, 1fr);
    }

}
