/*======================== FONT ========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*======================== VARIABLE CSS ========================*/
:root {
    --header-height: 1rem;

    /* ====== Color ====== */
    --color-black: #000000;
    --color-white: #fff;
    --thin-color: #9d9d9d;
    --first-color: #0EA5E9;
    --second-color: #ffffff;

    /* ====== Font Typhograpy ====== */
    --body-font: "Poppins", sans-serif;

    --biggest-font: 2rem;
    --normal-font: .940rem;
    --small-font: .840rem;
    --smaller-font: .80rem;
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --h3-font: 1.125rem;

    /* ====== Font Weight ====== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* ====== Margenes Bottom ====== */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ====== Z Index ====== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*============= Font Size for Large Device =============*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font: 3rem;
        --normal-font: 1rem;
        --small-font: .870rem;
        --smaller-font: .813rem;
        --h1-font: 2.5rem;
        --h2-font: 1.5rem;
        --h3-font: 1.25rem;
    }
}

/*======================== BASE ========================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font);
    background-color: var(--color-white);
    color: var(--color-black);
}

h1,
h2,
h3,
h4 {
    color: var(--color-black);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*======================== REUSABLE CSS CLASSES ========================*/
.section {
    padding: 2rem 0;
}

.section_title {
    font-size: var(--h1-font);
    font-weight: var(--font-bold);
    margin-bottom: 5rem;
}

.section_subtitle {
    display: block;
    font-size: var(--small-font);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

.back_section_title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: -50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: var(--color-black);
    /* Warna teks */
}

.span {
    color: var(--first-color);
}

.data_title {
    font-size: 2.2rem;
}

.data_description {
    font-size: 1.1rem;
    margin: 15px 0;
}

/*======================== LAYOUT ========================*/
.container {
    max-width: 100%;
    margin-left: var(--mb-2-5);
    margin-right: var(--mb-2-5);
}


.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: var(--z-fixed);
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}

/* Aturan untuk mode gelap */
.dark-theme {
    --color-black: #ffffff;
    /* Mengubah warna hitam menjadi putih */
    --color-white: #0C1930;
    /* Mengubah warna putih menjadi hitam */
    --first-color: #0EA5E9;
    /* Mengubah warna utama menjadi biru tua */
    --second-color: #132347;
    /* Mengubah warna sekunder menjadi biru muda */
    /* Tambahkan aturan CSS lainnya yang perlu disesuaikan untuk mode gelap di sini */
}


/*======================== NAVBAR ========================*/
.header {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.nav {
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: var(--first-color);
    font-weight: var(--font-bold);
    font-size: var(--h1-font);
}

.nav_toggle {
    /* display: none; */
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--color-white);
    padding: 10px 17px;
    border-radius: 30px;
    background-color: var(--first-color);
}

.nav_toggle:hover {
    font-size: 1.13rem;
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        top: -900%;
        left: 0;
        width: 100%;
        background-color: var(--color-white);
        padding: 6rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
    }

    .nav_list {
        flex-direction: column;
        text-align: center;
    }

}

.nav_list {
    display: flex;
}

.nav_link {
    font-size: var(--normal-font);
    color: var(--color-black);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
    transition: .2s;
}

.nav_close {
    display: none;
    position: absolute;
    padding: 10px;
    right: 1.3rem;
    top: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    border-radius: 3px;
    cursor: pointer;
}

.nav_close:hover {
    background-color: rgba(106, 106, 106, 0.151);
    transition: .3s;
}

/* Show Menu */
.show-menu {
    top: 0;
}

/*======================== HOME ========================*/
.main {
    padding-top: 10px;
}

.home_container {
    gap: 1rem;
}

.home_content {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.home_social {
    display: grid;
    row-gap: 1rem;
}

.home_social-icon {
    font-size: 1rem;
    color: var(--first-color);
    padding: 7px;
    background-color: var(--second-color);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.home_social-icon:hover {
    background-color: var(--first-color);
    color: var(--color-white);
    transition: .3s;
}

.home_blob {
    width: 800px;
}

.home_data {
    grid-column: 1/3;
}

.home_thumbnail {
    margin-top: -100px;
    color: var(--thin-color);
}

.home_title {
    font-size: 6rem;
    font-weight: var(--font-bold);
    line-height: 90px;
    padding: 13px 0;
    color: var(--first-color);
}

.home_subtitle {
    font-size: var(--h1-font);
    font-weight: var(--font-semibold);
    margin: 20px 0 0 0;
}


.home_description {
    padding: 20px 60px 20px 0;
    color: var(--thin-color);
    font-weight: var(--normal-font);
}

.button {
    color: #fff;
    background-color: var(--first-color);
    padding: 5px 30px;
    border-radius: 5px;
}

.icon-button {
    padding-left: 10px;
}

.home_scroll {
    text-align: center;
    font-size: var(--medium-font);
}

.home_scroll-button {
    color: var(--color-black);
}

/*======================== About ========================*/

.about_content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 8rem;
}

.about_img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 10rem 1rem;
}

.about_subtitle {
    font-size: 2.5rem;
    line-height: 50px;
}

.about_description {
    padding: 15px 0;
}

.about_line {
    color: var(--color-black);
}

.about_information {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 2rem;
}

.about_information_data {
    border-bottom: 3px solid var(--first-color);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    padding: 25px 40px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}


.about_information_data h2 {
    color: var(--first-color);
    font-weight: var(--font-bold);
    font-size: 2rem;
    margin-bottom: 10px;
}

.about_information_data p {
    font-size: 1.1rem;
    font-weight: var(--font-medium);
    color: var(--color-black);
}


.about_button {
    /* background-color: #0EA5E9; */
    margin-top: 20px;
    padding: 15px 90px;
    position: absolute;
    color: var(--color-black);
    border: 2px solid var(--first-color);
    font-weight: var(--font-semibold);
}

.about_button:hover {
    color: var(--color-white);
    background-color: var(--first-color);
    transition: .3s;
}


/*======================== SKILLS ========================*/

.skills_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.skills_information_title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}

.skills_information_title i {
    padding: 0 10px;
}

.skills_data {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--second-color);
    width: 90%;
    height: auto;
    padding: 4rem 2rem;
}

.skills_information {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.skills_information_data img {
    padding: 15px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 40%;
    height: auto;

}

.skills_information_data img:hover {
    transform: translateY(-5%);
    transition: .3s;
}

/*======================== EDUCATIONS ========================*/
.educations_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.educations_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    background-color: var(--second-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 70%;
    padding: 4rem 3rem;
}

.box_line_left {
    border-left: 2px solid var(--first-color);
    position: relative;
}

.education_box_content {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

.box_line_left .education_box_content::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    right: 97.5%;
    top: 0;
    background-color: var(--first-color);
    border: 2px solid var(--color-white);
}

.box_title {
    background-color: var(--first-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--color-white);
    margin-bottom: 25px;
    display: inline-block;
}

.box_subtitle {
    color: var(--color-black);
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.box_description {
    margin-bottom: 5px;
}

.box_date {
    color: var(--color-white) transparent;
    font-weight: var(--font-regular);
    font-size: 0.9rem;
}

.box_date i {
    padding-right: 7px;
}

/*======================== RESPONSIF ========================*/